.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary-chronos);
  color: var(--background);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(70%);
  transition: all 0.1s ease-in-out;
}

.menuLink svg { /* Acessing HourglassIcon */
  width: 2.4rem;
  height: 2.4rem;
}
