@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

/* Reseting CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem; /* 16px */
  background: var(--background);
  color: var(--text);
}

body h1 {
  font-family:
    "Caesar Dressing";
  font-size: 4.4rem; /* 44px */
}

/* --- */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}