.logo {
  padding-top: 1.6rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.logoLink:hover {
  filter: brightness(70%);
  transition: all 0.1s ease-in-out;
}

.logoLink svg { /* Acessing HourglassIcon */
  width: 6rem;
  height: 6rem;
}

.logoImage {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}