.input {
    background: transparent;
    border: none;
    text-align: center;
    color: var(--text);
    font-size: 1.6rem;
    padding: 0.8rem;
    outline: none;

    border: 0.2rem solid transparent; /* Border exists, but is transparent for improved UX (input will stay still when you focus it) */
    border-bottom: 0.2rem solid var(--primary-chronos);
    transition: all 0.1s ease-in-out;
}

.input:focus {
    border-radius: 0.8rem;
    border: 0.2rem solid var(--primary-chronos);
}

.input::placeholder {
    color: var(--gray);
    font-size: 1.4rem;
    font-style: italic;
}