.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%; /* Makes it a circle */
}

.workTime {
    background: var(--primary);
}

.shortBreakTime {
    background: var(--gray);
}

.longBreakTime {
    background: var(--info);
}