.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.footer p {
  color: var(--text-muted);
}

.footer a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-muted);
}

.footer a:hover {
  text-decoration: underline;
}