.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 4.8rem 0;
    cursor: pointer;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover {
    filter: brightness(70%);
    transition: all 0.1s ease-in-out;
}

.play {
    background-color: var(--primary-chronos);
    color: var(--background);
}

.pause {
    background-color: var(--error);
    color: var(--background);
}